#settings{
    width:1000px;
}
.check{
    border: 1px solid #999999;
    border-radius: 2px;
    height: 14px;
    width: 14px;
    background-color:#ddd;
}
#checkBlueParticle{
    background-color:#ddd;
}
.range{
    width:400px;
    -webkit-appearance: none;
    background-color: #d3d3d3;
    height: 8px;
    border-radius: 5px;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 18px;
  background: grey;
  border: 1px solid #555555;
  cursor: pointer;
}